.lily img, .elia img {
  border-radius: 10px;
}

@media screen and (max-height: 800px) {
  .Team h1 {
    font-size: 3rem;
  }

  .Team p {
    font-size: 0.8rem !important;
    width: 30% !important;
    margin-top: 2.25rem !important;
  }
}

@media screen and (max-width: 850px) {
  .Team {
    flex-direction: column;
  }

  .lily, .elia {
    display: none;
  }

  .team-inner {
    margin-top: 2.5rem;
  }

  .Team h1 {
    width: 40% !important;
  }

  .Team p {
    width: 76% !important;
    font-size: 0.9rem !important;
    margin-top: 2rem !important;
  }
}

@media screen and (max-width: 567px) {
  .team-inner {
    margin-top: 1.5rem;
  }

  .team-inner h3 {
    font-size: 1.25rem;
    margin-bottom: 0 !important;
  }

  .team-inner span {
    font-size: .75rem;
  }

  .Team h1 {
    width: 60% !important;
    font-size: 3rem;
  }

  .Team p {
    width: 90% !important;
    font-size: 0.7rem !important;
    margin-top: 1.5rem !important;
    line-height: 1.2;
  }
}

/* @media screen and (max-width: 400px) {
  .Team h1 {
    font-size: 2.5rem;
  }

  .Team p {
    width: 82% !important;
    margin-top: 10rem !important;
    line-height: 1;
  }
} */

/* @media (min-height: 700px) and (max-height: 855px) and (orientation: portrait) {
  .Team p {
    margin-top: 0rem !important;
    line-height: 1.25;
  }
} */
