.Services h1 {
  border-bottom: 1px solid var(--cr8tive-border);
}

.blob-3-container,
.blob-3 {
  position: absolute;
  top: 40%;
  right: 15%;
}

.blob-4-container,
.blob-4 {
  position: absolute;
  top: 15%;
  left: 15%;
}

.blob-3 {
  width: 18rem;
  height: 18rem;
  background: url(/assets/9.jpeg) no-repeat 50% 50%;
  background-size: cover;
}

.blob-4 {
  width: 12rem;
  height: 12rem;
  background: url(/assets/3.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation-delay: 1s;
}
