.Services .hair-img {
  height: 20rem;
  width: 15rem;
  overflow: hidden;
}

.Services .hair-img img {
  width: 140%;
  margin-left: -2rem;
}

.hair-img {
  position: relative;
} 
.hair-img::before {
  background-image: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media screen and (max-height: 800px) {
  .Services h1 {
    font-size: 3rem;
  }

  .service-menu {
    width: 30%;
    line-height: 1.05;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 850px) {
  .Services h1 {
    width: 40% !important;
  }

  .service-menu {
    width: 75%;
    font-size: 1rem;
    line-height: 2;
  }
}

@media screen and (max-width: 567px) {
  .Services {
    flex-direction: column;
  }

  .hair-img {
    display: none;
  }

  .Services h1 {
    width: 50% !important;
    font-size: 3rem;
  }

  .service-menu {
    width: 100%;
    font-size: 0.8rem;
  }

  .service-menu p {
    margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 400px) {
  .Services h1 {
    font-size: 2.5rem;
  }

  .service-menu {
    font-size: 0.75rem;
    line-height: 1.5;
  }
}
