.Contact h1 {
  border-bottom: 1px solid var(--cr8tive-border);
}

.Contact .sparkle-img {
  top: 20%;
  width: 1.5rem;
  margin-left: 6.75rem;
}

.social a.bg-dark-beige {
  width: 2.5rem;
  height: 2.5rem;
}

.social-icons {
  width: 25%;
}

iframe {
  height: 75%;
  width: 20%;
}

.blob-13-container,
.blob-13 {
  position: absolute;
  top: 30%;
  right: 15%;
}

.blob-14-container,
.blob-14 {
  position: absolute;
  bottom: 18%;
  left: 13%;
}

.blob-15-container,
.blob-15 {
  position: absolute;
  top: 18%;
  left: 24%;
}

.blob-13 {
  width: 20rem;
  height: 20rem;
  background: url(/assets/20.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob 8s ease-in-out infinite;
}

.blob-14 {
  width: 14rem;
  height: 14rem;
  background: url(/assets/19.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob 8s ease-in-out infinite;
}

.blob-15 {
  width: 9rem;
  height: 9rem;
  background: url(/assets/11.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob 8s ease-in-out infinite;
}

@media screen and (max-width: 567px) {
  .Contact h1 {
    width: 50% !important;
    font-size: 3rem;
  }

  .Contact .sparkle-img {
    margin-left: 5.25rem;
  }

  .social-icons {
    width: 75%;
  }

  iframe {
    width: 80%;
    height: 50% !important;
  }

  .blob-13-container,
  .blob-13 {
    top: 27%;
    right: 5%;
  }

  .blob-14-container,
  .blob-14 {
    top: 16%;
    left: 5%;
  }

  .blob-13 {
    width: 5rem;
    height: 5rem;
  }

  .blob-14 {
    width: 5rem;
    height: 5rem;
  }

  .blob-15,
  .blob-15-container {
    display: none;
  }
}
