.social a.bg-dark-beige {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-height: 800px) {
  .Contact h1 {
    font-size: 3rem;
  }

  .social-icons {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 850px) {
  .Contact h1 {
    width: 40% !important;
  }
}

@media screen and (max-width: 567px) {
  .Contact h1 {
    width: 50% !important;
    font-size: 3rem;
  }

  .social-icons {
    width: 75%;
  }
}