.hero h1 {
  font-size: 6rem;
}

.sparkle {
  top: 7%;
  right: 15%;
}

.sparkle-img {
  animation: rotation 12s linear infinite;
  width: 2rem;
}

.hero-sub {
  font-family: "Times-SS";
  letter-spacing: 2px;
}

.bg-gradient,
.hero-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blob-1-container,
.blob-1 {
  position: absolute;
  top: 20%;
  left: 6%;
}

.blob-2-container,
.blob-2 {
  position: absolute;
  top: 55%;
  right: 12%;
}

.blob-1 {
  width: 25rem;
  height: 25rem;
  background: url(/assets/4.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob 8s ease-in-out infinite;
}

.blob-2 {
  width: 15rem;
  height: 15rem;
  background: url(/assets/2.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob 8s ease-in-out infinite;
}

