.hero h1 {
  font-size: 6rem;
}

.sparkle {
  top: 7%;
  right: 15%;
}

.hero-sub {
  font-family: "Times-SS";
  letter-spacing: 2px;
}

.bg-gradient,
.hero-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blob-1-container {
  top: 20%;
  left: 6%;
}

.blob-2-container {
  top: 55%;
  right: 12%;
}

.blob-1 {
  width: 25rem;
  height: 25rem;
  background: url(/assets/4.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob 8s ease-in-out infinite;
}

.blob-2 {
  width: 15rem;
  height: 15rem;
  background: url(/assets/2.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob 8s ease-in-out infinite;
}

@media screen and (max-height: 800px) {
  .hero-container,
  .bg-gradient {
    margin-top: 1rem;
  }

  .hero h1 {
    font-size: 4.5rem;
  }

  .blob-1-container {
    top: 23%;
    left: 9%;
  }

  .blob-1 {
    width: 18rem;
    height: 16rem;
  }

  .blob-2-container {
    right: 14%;
  }

  .blob-2 {
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (max-width: 850px) {
  .hero-container {
    margin-top: 1.5rem;
  }

  .blob-1-container {
    left: 10%;
  }

  .blob-1 {
    width: 10rem;
    height: 10rem;
  }

  .blob-2-container {
    top: 71%;
  }

  .blob-2 {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 567px) {
  .hero-container {
    width: 75%;
  }

  .hero h1 {
    font-size: 4rem;
    width: 100%;
  }

  .Home .sparkle-img {
    width: 1.25rem;
  }

  .sparkle {
    top: 5%;
    right: 25%;
  }

  .blob-1-container {
    left: -8%;
  }

  .blob-1 {
    width: 9rem;
    height: 9rem;
  }

  .blob-2-container {
    top: 68%;
    right: 0%;
  }

  .blob-2 {
    width: 9rem;
    height: 9rem;
  }
}
