@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: Loverica;
  src: url("/fonts/Loverica.otf");
}

@font-face {
  font-family: Timeless;
  src: url("/fonts/Timeless.ttf");
}

@font-face {
  font-family: Timeless;
  font-weight: bold;
  src: url("/fonts/Timeless-Bold.ttf");
}

@font-face {
  font-family: BD Megalona;
  src: url("/fonts/BDMegalona.otf");
}

@font-face {
  font-family: Voyage;
  src: url("/fonts/Voyage.otf");
}

:root {
  --cr8tive-bg: #fefbf1;
  --cr8tive-sub-bg: #d6ccc2;
  --cr8tive-txt-dark: #111;
  --cr8tive-txt-light: #fff;
  --cr8tive-border: #ddd;
  --cr8tive-accent: #d5Bdaf;
  --cr8tive-head-font: "Loverica";
  --cr8tive-subhead-font: "BD Megalona";
  --cr8tive-body-font: "Timeless";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cr8tive-bg);
  font-family: "Montserrat", sans-serif;
  color: var(--cr8tive-txt-dark);
  font-size: 0.75rem;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Loverica";
}

h1 {
  border-bottom: 1px solid var(--cr8tive-border);
}

a {
  text-decoration: none;
  color: var(--cr8tive-txt-dark);
}

.bg-beige {
  background-color: var(--cr8tive-bg);
}

.bg-dark-beige {
  background-color: var(--cr8tive-sub-bg);
}

.head-font {
  font-family: "Loverica";
}

.sub-head-font {
  font-family: "BD Megalona";
}

.body-font {
  font-family: "Montserrat", sans-serif;
}

.text-sm {
  font-size: 0.9rem;
}

.text-xs {
  font-size: 0.65rem;
}

.text-xl {
  font-size: 3rem;
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--cr8tive-accent);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-float,
.hover-zoom {
  transition: all 0.5s ease;
}

.hover-float:hover {
  transform: translateY(-1rem);
}

.hover-zoom:hover {
  transform: scale(1.1);
}

.btn-hover:hover {
  background-color: var(--cr8tive-bg);
  box-shadow: 0px 0px 20px var(--cr8tive-accent);
}

.hair-img {
  border-radius: 5px;
  height: 28rem;
  width: 20rem;
  overflow: hidden;
}
