.About h1 {
    border-bottom: 1px solid var(--cr8tive-border);
}

.blob-11-container,
.blob-11 {
  position: absolute;
  top: 20%;
  right: 10%;
}

.blob-12-container,
.blob-12 {
  position: absolute;
  bottom: 20%;
  left: 12%;
}

.blob-11 {
  width: 25rem;
  height: 20rem;
  background: url(/assets/14.jpeg) no-repeat 50% 50%;
  background-size: cover;
}

.blob-12 {
  width: 17rem;
  height: 20rem;
  background: url(/assets/5.jpeg) no-repeat 50% 50%;
  background-size: cover;
}