.carousel-inner, .carousel {
  width: 85vw;
  border-radius: 10px;
}

.carousel-img {
  width: 50%;
}

@media screen and (max-height: 800px) {
  .Work h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 850px) {
  .carousel-inner, .carousel {
    width: 100vw;
    border-radius: 10px;
  }
  
  .carousel-img {
    border-radius: 10px;
    width: 30%;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 567px) {
  .Work h1 {
    font-size: 3rem;
  }

  .carousel-inner, .carousel {
    width: 100vw;
    border-radius: 0px;
  }
  
  .carousel-img {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .Work h1 {
    font-size: 2.5rem;
  }
}
