.Work h1 {
  border-bottom: 1px solid var(--cr8tive-border);
}

.Work .sparkle-img {
  width: 1.5rem;
  margin-left: 4.5rem;
  top: 15%;
}

.blob-5-container,
.blob-5 {
  position: absolute;
  top: 4%;
  left: 3%;
}

.blob-6-container,
.blob-6 {
  position: absolute;
  left: -2%;
  bottom: 0;
}

.blob-7-container,
.blob-7 {
  position: absolute;
  bottom: 18%;
  left: 22%;
}

.blob-8-container,
.blob-8 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
}

.blob-9-container,
.blob-9 {
  position: absolute;
  right: -1%;
  bottom: 0;
}

.blob-10-container,
.blob-10 {
  position: absolute;
  top: 8%;
  right: 18%;
}

.blob-5 {
  width: 35rem;
  height: 25rem;
  background: url(/assets/7.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob 6s ease-in-out infinite;
}

.blob-6 {
  width: 20rem;
  height: 20rem;
  background: url(/assets/17.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob-2 7s ease-in-out infinite;
}

.blob-7 {
  width: 14rem;
  height: 16rem;
  background: url(/assets/12.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob 6s ease-in-out infinite;
}

.blob-8 {
  width: 25rem;
  height: 25rem;
  background: url(/assets/21.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob-2 8s ease-in-out infinite;
}

.blob-9 {
  width: 42rem;
  height: 35rem;
  background: url(/assets/16.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob 8s ease-in-out infinite;
}

.blob-10 {
  width: 18rem;
  height: 15rem;
  background: url(/assets/18.jpeg) no-repeat 50% 50%;
  background-size: cover;
  animation: animate-blob 10s ease-in-out infinite;
}

@media screen and (max-width: 567px) {
  .Work h1 {
    width: 100% !important;
  }

  .blob-5-container,
  .blob-5 {
    top: 32%;
    left: -5%;
  }

  .blob-6-container,
  .blob-6 {
    left: -1%;
    bottom: 4%;
  }

  .blob-7-container,
  .blob-7 {
    bottom: 25%;
    left: 15%;
  }

  .blob-8-container,
  .blob-8 {
    top: 50%;
    left: 70%;
  }

  .blob-9-container,
  .blob-9 {
    right: 0;
    bottom: 4%;
  }

  .blob-10-container,
  .blob-10 {
    top: 32%;
    right: 8%;
  }

  .blob-5 {
    width: 14rem;
    height: 11rem;
  }

  .blob-6 {
    width: 9rem;
    height: 9rem;
  }

  .blob-7 {
    width: 7rem;
    height: 9rem;
  }

  .blob-8 {
    width: 10rem;
    height: 12rem;
  }

  .blob-9 {
    width: 14rem;
    height: 10rem;
  }

  .blob-10 {
    width: 7rem;
    height: 8rem;
  }
}
