.Work .carousel-item img {
  width: 50% !important;
}

@media screen and (max-width: 850px) {
  .Work .carousel-item img {
    width: 70% !important;
  }
}

@media screen and (max-width: 567px) {
  .Work .carousel-item img {
    width: 110% !important;
    margin-left: -1rem;
  }
}

@media screen and (max-width: 400px) {
  .Work .carousel-item img {
    width: 100% !important;
    margin: 0 !important;
  }
  .Work .carousel {
    margin: 0 !important;
  }
}
