.policies-inner {
  overflow-y: scroll;
  height: 25rem;
}

.Policies .hair-img img {
  width: 140%;
  margin-left: -4rem;
}

@media screen and (max-width: 567px) {
    .policies-inner {
        width: 90%;
    }
}
