.Nav {
    border-bottom: 1px solid var(--cr8tive-border);
}

.logo {
    font-family: "Times-SS";
    font-size: 1.4rem;
    line-height: 0.75;
}

.eight {
    padding-bottom: -1rem;
}

.sub-logo {
    letter-spacing: 3px;
}