.Nav {
  border-bottom: 1px solid var(--cr8tive-border);
}

.sub-logo {
  letter-spacing: 3px;
  line-height: 1;
}

.intake-form-btn {
  transition: all 0.5s ease;
  cursor: pointer;
}

.navbar {
  --bs-navbar-padding-y: 0.25rem !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus, .navbar-toggler:focus-visible {
  box-shadow: none !important;
}

.offcanvas {
  width: 15vw !important;
}

@media screen and (max-width: 567px) {
  .offcanvas {
    width: 50vw !important;
  }

  .intake-form-btn span {
    font-size: 1.1rem !important;
  }

  .nav-links {
    margin-top: -2.75rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .nav-links {
    font-size: .8rem;
  }

  .intake-form-btn span {
    font-size: 1rem !important;
  }
}
